# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# renv
renv/library/
renv/local/
renv/cellar/
renv/lock/
renv/python/
renv/sandbox/
renv/staging/

# Shiny
rsconnect/
.secrets/



# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
tmp/
temp/
*.tmp

# Tests
tests/testthat/_snaps/

# Build
.Rbuildignore
